packages:
  yum:
    unzip: []
    wget: []

commands:
  01_install_dependencies:
    command: |
      echo "Updating package lists and installing dependencies..."
      yum update -y
      yum install -y epel-release
      yum install -y fontconfig freetype freetype-devel glib2 nss nspr
      echo "Dependencies installation complete."

  02_download_chrome:
    command: |
      echo "Starting download of chrome..."
      wget https://storage.googleapis.com/chrome-for-testing-public/126.0.6478.114/linux64/chrome-linux64.zip -O /tmp/chrome-linux64.zip
      if [ $? -eq 0 ]; then
        echo "Unzipping chrome..."
        unzip /tmp/chrome-linux64.zip -d /usr/bin/
        if [ $? -eq 0 ]; then
          chmod +x /usr/bin/chrome-linux64/chrome
          echo "chrome setup complete."
        else
          echo "Failed to unzip chrome" >&2
          exit 1
        fi
      else
        echo "Failed to download chrome" >&2
        exit 1
      fi

  03_download_headless_shell:
    command: |
      echo "Starting download of headless_shell..."
      wget https://storage.googleapis.com/chrome-for-testing-public/126.0.6478.114/linux64/chrome-headless-shell-linux64.zip -O /tmp/chrome-headless-shell-linux64.zip
      if [ $? -eq 0 ]; then
        echo "Unzipping headless_shell..."
        unzip /tmp/chrome-headless-shell-linux64.zip -d /usr/bin/
        if [ $? -eq 0 ]; then
          chmod +x /usr/bin/chrome-headless-shell-linux64/chrome-headless-shell
          echo "headless_shell setup complete."
        else
          echo "Failed to unzip headless_shell" >&2
          exit 1
        fi
      else
        echo "Failed to download headless_shell" >&2
        exit 1
      fi

  04_download_chromedriver:
    command: |
      echo "Starting download of ChromeDriver..."
      wget https://storage.googleapis.com/chrome-for-testing-public/126.0.6478.114/linux64/chromedriver-linux64.zip -O /tmp/chromedriver-linux64.zip
      if [ $? -eq 0 ]; then
        echo "Unzipping ChromeDriver..."
        unzip /tmp/chromedriver-linux64.zip -d /usr/bin/
        chmod +x /usr/bin/chromedriver-linux64/chromedriver
        echo "ChromeDriver setup complete."
      else
        echo "Failed to download ChromeDriver" >&2
        exit 1
      fi

  05_run_intoli_script:
    command: |
      curl -sS https://intoli.com/install-google-chrome.sh | bash
